.desktop {
    height: calc(100% - var(--task-bar-height));
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-content: start;
}

.icon {
    width: 75px;
    height: 70px;
    margin: 10px 0 20px 0;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent;
}

.icon:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px dashed white;
}

.icon img {
    width: 75px;
    height: 50px;
    object-fit: contain;
}

.icon span {
    width: 75px;
    height: 20px;
    font-size: 12px;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon:active span,
.icon:focus span {
    overflow: visible;
    white-space: normal;
}

.quote {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
    color: dodgerblue;
    display: flex;
    flex-direction: column;
}

.quote * {
    text-shadow: 1px 1px 1px black;
}

.quote span:first-child {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}

.quote span:last-child {
    text-align: end;
}
