.start-menu {
    visibility: hidden;
    transform: translateX(-50%);
    bottom: -46px;
    left: 50%;
    transition: 0.2s;
    position: absolute;
    background-color: #f8f8f8f8;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    box-shadow: 0 10px 30px -10px black;
    width: 640px;
}

.start-menu.open {
    visibility: visible;
    bottom: 10px;
    height: 730px;
}

.start-menu__top {
    position: relative;
    width: 100%;
    height: 91%;
    border-bottom: 1px solid #d0d0d0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-menu__top > * {
    position: absolute;
    width: 90%;
    display: flex;
}

.search-form {
    top: 4.5%;
    height: 4.5%;
    background-color: white;
    border: 1px solid #d0d0d0;
    border-radius: 99px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-form input {
    width: 90%;
    height: 65%;
    border: none;
    font-size: 14px;
}

.start-menu__fix {
    top: 15%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-menu__title {
    width: 89%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-menu__title span:first-child {
    font-weight: 900;
}

.start-menu__title span:last-child {
    background-color: #fcfcfc;
    height: 100%;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 12px;
    width: 14.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-menu__app {
    position: absolute;
    top: 11%;
    width: 100%;
    height: 89%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.start-menu__icon {
    width: 16.5%;
    height: 29%;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-menu__icon:hover {
    background-color: #ffffff;
}

.start-menu__icon img {
    width: 100%;
    height: 37.5%;
    object-fit: contain;
    position: absolute;
    top: 14%;
}

.start-menu__icon span {
    width: 100%;
    height: 40.5%;
    font-size: 12px;
    text-align: center;

    position: absolute;
    top: 59.5%;
}

.start-menu__bottom {
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-menu__user-power {
    width: 84%;
    height: 61%;
    display: flex;
    justify-content: space-between;
}

.start-menu__user-power > *:hover {
    border-radius: 5px;
    background-color: #ffffff;
}

.start-menu__user {
    min-width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}

.start-menu__user-profile {
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    margin: 0 12px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-menu__user-name {
    font-size: 12px;
}

.start-menu__power {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
