.task-bar {
    position: fixed;
    width: 100vw;
    height: 50px;
    bottom: 0px;
    background-color: #ffffffe0;
    color: black;
    padding: 3px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-bar__column {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
}

.task-bar__column > * {
    height: 100%;
}

.weather {
    width: 140px;
    background-color: dodgerblue;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.weather img {
    width: 42px;
    height: 42px;
}

.task-bar__column:nth-child(2) {
    justify-content: center;
}

.task-bar__column:last-child {
    justify-content: end;
}

.task-bar__column span:not(.clock-component) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-bar__column div:not(.search-bar):hover,
.task-bar__column span:not(.clock-component, .weather-component):hover {
    background-color: red;
}

.task-bar__column span img {
    width: 20px;
    height: 20px;
    margin: 0px 15px;
}

.task-bar__column span:not(:first-child) img {
    width: 25px;
    height: 25px;
}

.task-bar__column span i {
    margin: 0px 5px;
}
.task-bar__column span i.more-margin {
    margin: 0px 15px;
}

.task-bar__column .search-bar {
    width: 350px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.search-bar input {
    width: 80%;
    outline: none;
    border: none;
    font-size: 20px;
}

.task-bar__column .clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5px;
}

.task-bar__column .clock span {
    height: 50%;
}

.task-bar__column .to-wallpaper {
    width: 6px;
    border-left: 1px solid white;
}
