.task-bar {
    position: absolute;
    width: 100%;
    height: var(--task-bar-height);
    bottom: 0;
    background-color: #fffffff8;
    color: black;
    padding: 4px 13px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #b0b0b0;
}

.task-bar__column {
    display: flex;
    align-items: center;
}

.task-bar__column:first-child {
    width: 20%;
}

.task-bar__column:nth-child(2) {
    width: 60%;
    justify-content: center;
}

.task-bar__column:last-child {
    width: 20%;
    justify-content: end;
}

.task-bar__icon {
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-bar__icon:hover {
    background-color: #ffffffff;
    border: 1px solid #f0f0f0;
}

.task-bar__icon img {
    height: 23px;
}

.task-bar__icon.weather {
    width: 140px;
    font-size: 12px;
    justify-content: start;
}

.task-bar__icon.weather img {
    height: 40px;
}

.task-bar__column:nth-child(2) .task-bar__icon {
    margin: 0 2px;
    width: 40px;
}

.task-bar__column:nth-child(2) .task-bar__icon.open {
    border: 1px solid #f0f0f0;
    background-color: #ffffffe0;
}

.task-bar__column:last-child .task-bar__icon {
    width: 30px;
}

.task-bar__column:last-child .task-bar__icon.clock {
    width: 75px;
    font-size: 12px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}
