.ms-to-do {
    background-color: #f0f0f0;
    width: 600px;
    height: 400px;
}

.to-do {
    height: calc(100% - var(--title-bar-height));
    position: relative;
    display: flex;
    justify-content: center;
}

.to-do-list {
    position: absolute;
    top: 20px;
    overflow: auto;
    height: 75%;
    width: 90%;
}

.to-do-list li {
    background-color: white;
    padding: 10px 2%;
    margin-bottom: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.to-do-list li span {
    word-break: break-all;
}

.to-do-list li span.cpl {
    text-decoration: line-through;
    color: gray;
}

.to-do-list li button {
    background-color: transparent;
    border: none;
}

.to-do-form {
    background-color: white;
    padding: 10px 2%;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    height: 40px;
    width: 90%;
}

.to-do-form input {
    border: none;
    width: 100%;
}
